altgraph==0.17.2
astroid==2.7.3
bidict==0.21.3
click==8.0.1
colorama==0.4.4
dnspython==2.1.0
eventlet==0.32.0
Flask==2.0.1
Flask-SocketIO==5.1.1
future==0.18.2
greenlet==1.1.1
isort==5.9.3
itsdangerous==2.0.1
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
pefile==2021.9.3
platformdirs==2.3.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pylint==2.10.2
pyserial==3.5
python-engineio==4.2.1
python-socketio==5.4.0
pywin32-ctypes==0.2.0
scorebox-consoles==1.1.0
six==1.16.0
toml==0.10.2
Werkzeug==2.0.1
wrapt==1.12.1
